<h1>Visitas del Autobus {{matricula}}</h1>

<button [routerLink]="['']">Volver al listado</button><br>

<div class="code" *ngFor="let visita of visitas">
    <code>
        Fecha: {{visita.fechaVisita}}<br>
        Bus: {{visita.autobus.matricula}}<br>
        Conductor: {{visita.conductor.dni}} - {{visita.conductor.nombre}}<br>
        Lugar: {{visita.lugar.nombre}}
    </code>
</div>

<!-- <label for="matricula">Matricula: </label><input type="text" maxlength="7" id="matricula" [(ngModel)]="matricula"><br>
<button (click)="loadBus()">Load bus</button><br>
<button (click)="loadVisitas()">Load visitas</button><br>
<div *ngIf="bus !== undefined">
    <span>Bus:</span><br>
    <div class="code">
    <code>
        Matricula: {{bus.matricula}}<br>
        Año fabricacion: {{bus.anioFabricacion}}
    </code>
    </div>
</div>

<div *ngIf="visitas !== undefined && visitas.length > 0">
    <span>Visitas:</span>
    <div class="code" *ngFor="let visita of visitas">
        <code>
            Fecha: {{visita.fechaVisita}}<br>
            Bus: {{visita.autobus.matricula}}<br>
            Conductor: {{visita.conductor.dni}} - {{visita.conductor.nombre}}<br>
            Lugar: {{visita.lugar.nombre}}
        </code>
    </div>
</div> -->